//文章显示
.post-content pre {
    border-radius: 3px;
    border: 1px solid #111;
    padding: 0.8em 1em;
    font: 14px/22px Consolas, Monaco, 'Andale Mono', monospace;
    border-radius: 10px;
    background-color: #21221d;
    background-image: -webkit-linear-gradient(#21221d 50%, #272822 50%);
    background-image: -moz-linear-gradient(#21221d 50%, #272822 50%);
    background-image: -ms-linear-gradient(#21221d 50%, #272822 50%);
    background-image: -o-linear-gradient(#21221d 50%, #272822 50%);
    background-image: linear-gradient(#21221d 50%, #272822 50%);
    background-size: 44px 44px;
    background-origin: content-box;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.post{
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .title{
    padding: 0;
    margin: 0;
    font-size: $font-size-big;
    color: $gray-darker;

    i{
      color: $primary-color;
      margin-right: $font-size-small;
    }
  }

  .info{
    margin-top: 10px;
    color: $gray-dark;
    li{
      display: inline-block;
      margin-right: 5px;
    }

    .author{
      color: $primary-color;
    }
    .tag{
      color: $primary-color;
      &::before,&::after{
        color: $white;
      }
    }

    .tag::before{
      content: '['
    }
    .tag::after{
      content: ']'
    }
    .tag:hover{
      color: $blue;
      text-decoration: none;
      &::before,&::after{
        color: $blue;
      }
    }
  }
  .excerpt{
    color: $gray-dark;
  }

  .content{
    ul{
      list-style: disc inside;
    }
  }

  .operate{
    a,span{
      color: $gray-dark;
      margin-left: 3px;
    }
    a:hover{
      color: $gray-darker;
      text-decoration: none;
    }
  }

  img{
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
}
