<!-- tag列表 -->
<div class="panel panel-default tags">
    <div class="panel-heading title">
        标签云
    </div>
<div id="myCanvasContainer">
 <canvas width="280" height="250" id="myCanvas">
  <p>Anything in here will be replaced on browsers that support the canvas element</p>
  <ul>
    {% for tag in site.tags %}
        <li><a  href="{{site.baseurl}}/tag/#{{tag.first}}" data-target-cate="#{{tag.first}}"> {{ tag.first }} </a>
      </li>
    {% endfor %}
   <li><a href="http://www.google.com" target="_blank">Google</a></li>
   <li><a href="/fish">Fish</a></li>
   <li><a href="/chips">Chips</a></li>
   <li><a href="/salt">Salt</a></li>
   <li><a href="/vinegar">Vinegar</a></li>
   <li><a href="/chips">Chips</a></li>
   <li><a href="/salt">Salt</a></li>
   <li><a href="/vinegar">Vinegar</a></li>
  </ul>
 </canvas>

 <script type="text/javascript">
 var myOption = {
          textColour: '#00E9DE',
          outlineColour: '#00E9DE',
          textHeight:18,
          reverse: true,
          depth: 0.8,
          maxSpeed: 0.05,
          minSpeed:0.01,
          dragControl:true,
          initial:[0.05,-0.08],
  };

 window.onload = function() {
   try {
     TagCanvas.Start('myCanvas','',myOption);
   } catch(e) {
     // something went wrong, hide the canvas container
     document.getElementById('myCanvasContainer').style.display = 'none';
   }
 };
</script>
</div>
</div>
